.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.class {
    display: block;
    line-height: 1.2;
    margin-top: 17.3333em;
    width: 100%
    }
.class1 {
    display: block;
    line-height: 1.2;
    text-align: center
    }
.class2 {
    height: auto;
    line-height: 1.2;
    width: 22.969%
    }
.class3 {
    display: block;
    margin-bottom: 1.08333em;
    margin-top: 1.08333em;
    text-align: center
    }
.class4 {
    height: auto;
    line-height: 1.2;
    width: 46.875%
    }
.class5 {
    display: block;
    line-height: 1.2;
    margin-top: 22.5334em;
    width: 100%
    }
.class6 {
    height: auto;
    line-height: 1.2;
    width: 7.852%
    }
.class7 {
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-top: 2.98667em;
    text-align: center
    }
.class8 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 5.313%;
    text-indent: 3.125%
    }
.class9 {
    text-indent: 3.125%
    }
.class10 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 5.313%
    }
.class11 {
    height: auto;
    line-height: 1.2;
    width: 45.938%
    }
.class12 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1em;
    text-align: center;
    text-indent: 1em
    }
.class13 {
    font-style: italic
    }
.class14 {
    display: block;
    margin-top: 1em
    }
.class15 {
    display: block;
    margin-top: 5em;
    text-align: center
    }
.class16 {
    display: block;
    margin-top: 2.5em;
    text-align: center
    }
.class17 {
    display: block;
    margin-top: 1em;
    text-align: center
    }
.class18 {
    font-size: 0.875em;
    line-height: 1.2
    }
.class19 {
    display: block;
    text-align: center
    }
.class20 {
    height: 100%;
    line-height: 1.2;
    width: auto
    }
.class21 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-top: 8.53805em
    }
.class22 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-left: 2.656%
    }
.class23 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 2.656%
    }
.class24 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-right: 2.656%;
    text-align: right
    }
.class25 {
    font-size: 0.85714em;
    line-height: 1.2
    }
.class26 {
    display: block;
    line-height: 1.2;
    margin-top: 5.2em;
    width: 100%
    }
.class27 {
    height: auto;
    line-height: 1.2;
    width: 5.859%
    }
.class28 {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    margin-bottom: 3.25em;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.541667em;
    text-align: center
    }
.class29 {
    display: block;
    text-indent: 1em
    }
.class30 {
    display: block;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0.588235em;
    margin-left: 5.781%;
    margin-right: 5.781%;
    margin-top: 0.588235em
    }
.class31 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 5.781%;
    margin-right: 5.781%;
    margin-top: 0.588235em
    }
.class32 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 5.781%;
    margin-right: 5.781%
    }
.class33 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.588235em;
    margin-left: 5.781%;
    margin-right: 5.781%
    }
.class34 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-left: 5.781%;
    margin-right: 5.781%;
    text-indent: 3.125%
    }
.class35 {
    font-style: italic;
    text-indent: 3.125%
    }
.class36 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 5.781%;
    margin-right: 5.781%;
    text-indent: 3.125%
    }
.class37 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.588235em;
    margin-left: 5.781%;
    margin-right: 5.781%;
    margin-top: 0.588235em
    }
.class38 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-left: 5.781%;
    margin-right: 5.781%
    }
.class39 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-left: 5.781%;
    margin-right: 5.781%;
    margin-top: 0.588235em
    }
.class40 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-left: 5.781%;
    margin-right: 5.781%;
    margin-top: 0.5em
    }
.class41 {
    display: block;
    font-size: 0.875em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 5.781%;
    margin-right: 5.781%;
    margin-top: 0.588235em
    }
.class42 {
    display: block;
    font-style: italic;
    text-indent: 1em
    }
.class43 {
    height: auto;
    line-height: 1.2;
    width: 61.172%
    }
.class44 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-left: 50%;
    margin-right: 3.125%;
    margin-top: 0.637255em
    }
.class45 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.637255em;
    margin-left: 50%;
    margin-right: 3.125%
    }
.class46 {
    display: block;
    line-height: 1.2;
    width: 100%
    }
.class47 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1.08333em;
    margin-top: 1.08333em;
    text-align: center
    }
.class48 {
    height: auto;
    line-height: 1.2;
    width: 55.43%
    }
.class49 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 8.438%;
    margin-right: 5.781%
    }
.class50 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.588235em;
    margin-left: 8.438%;
    margin-right: 5.781%
    }
.class51 {
    display: block;
    font-size: 1.375em;
    line-height: 1.2;
    margin-top: 2.98667em;
    text-align: center
    }
.class52 {
    display: block;
    margin-top: 3em
    }
.class53 {
    display: block;
    line-height: 1.2;
    margin-top: 12.1333em;
    width: 100%
    }
.class54 {
    height: auto;
    line-height: 1.2;
    width: 13.086%
    }
.class55 {
    display: block;
    font-size: 1.5em;
    line-height: 1.2;
    margin-top: 0.48em;
    text-align: center;
    text-transform: uppercase
    }
.class56 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-top: 2em;
    text-align: center
    }
.class57 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-top: 0.441176em;
    text-align: center
    }
.class58 {
    display: block;
    text-transform: uppercase
    }
.class59 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-top: 0.5em
    }
